<!--<input type="text" [(ngModel)]="searchText" class="form-control" 
placeholder="O que voc&ecirc; est&aacute; procurando?" /><br />--->

<table class="table table-hover">
  <thead>
      <tr>
    
        <th>ID</th>
        <th>Data/Hora</th>
        <th>Status</th>
        <th>IDCliente</th>
        <th>Nome</th>
        <th>Email</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedidoTabela of pedidos">
        <a [routerLink]="[pedidoTabela.id]">
        <td>{{pedidoTabela.id}}</td></a>
        <td>{{pedidoTabela.moment}}</td>	
        <td>{{pedidoTabela.orderStatus}}</td>	
        <td>{{pedidoTabela.clientId}}</td>	
        <td>{{pedidoTabela.clientName}}</td>
        <td>{{pedidoTabela.clientEmail}}</td>
      	
      </tr>
    </tbody>		
</table> 
<!--<span [hidden]="(pedidos | filter: searchText).length != 0">Infelizmente 
  n&atilde;o temos o que voc&ecirc; est&aacute; procurando</span>-->
